.navbar {
  background-color: #e4cda3;
  z-index: 999;
  padding: 10px 0;
}

.navbar-nav .nav-item .nav-link {
  color: purple;
  font-weight: 500;
}

.navbar-nav .nav-item .nav-link:hover {
  color: green;
  padding-bottom: 0;
  border-bottom: 2px solid black;
}

.navbar-nav .nav-item .nav-link.active {
  color: green;
  padding-bottom: 0;
  border-bottom: 2px solid black;
}
